
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: url(images/img01.jpg) repeat-x top left;
}

body, th, td, input, textarea {
	text-align: justify;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}

input.button {
	background: #3C7BCF;
	border-top: 1px solid #3C7BCF;
	border-left: 1px solid #3C7BCF;
	border-right: 1px solid #3C7BCF;
	border-bottom: 1px solid #3C7BCF;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin-top: 1.5em;
	color: #B10961;
}

h1 {
	letter-spacing: -.075em;
	font-size: 3em;
}

h2 {
	letter-spacing: -.05em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: bold;
	color: #B10961;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 1.5em;
	line-height: 1.8em;
	font-size: 1.1em;
}

ul, ol {
	margin-left: 3em;
}

blockquote {
	margin-left: 3em;
	margin-right: 3em;
}

a {
	text-decoration: none;
	color: #75043D;
}

a:hover {
	border: none;
}

h1 a, h2 a, h3 a {
	border: none;
	text-decoration: none;
	color: #B10961;
}

h1 a:hover, h2 a:hover, h3 a:hover {
	background: none;
	color: #B10961;
}

hr {
	display: none;
}

/* Wrapper */

#wrapper {
}

/* Header */

#header {
	width: 100%;
}

#menu {
	height: 47px;
	width: 100%;
	background-color: #FF4000;
	clear:both;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	padding: 15px 30px 16px 30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	border-left: #58032F 1px solid;
	color: #FFFFFF;
}

#menu a:hover {
	background: #770444;
	color: #FFFFFF;
}

#menu .selected a {
	background: #770444;
	padding: 15px 30px 16px 30px;
	color: #FFFFFF;
}

#menu .last{
	border-right: #58032F 1px solid;
}

/* Logo */

#logo {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background: #086A87;
	clear:both;
}


#logo h1 {
	margin:0;
	padding:10px;
	font-size: 30px;
	color: #FFFFFF;
	text-transform: uppercase;
}

#logo h2 {
	margin:0;
	padding:10px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #BD0A70;
}

#logo p {
	clear: left;
	margin: 0;
	padding: 0 0 0 0;
	line-height: normal;
	font-size: 1.2em;
	font-weight: bold;
	color: #C2C5B1;
}

#logo a {
	color: #FFFFFF;
}

/* Page */

#main {
	width: 80%;
	margin: 0 auto;
	background: #FFFFFF;
	border-top: none;
	border-left: thin #4D79FF solid;
}

/* Content */

#content {

	padding:0;
	margin: 0 auto;
	width: 75%;
	background-color: #F6CECE;
	float:left;
}

/* Sidebars */

#sidebar {
	vertical-align: top;
	float: right;
	width:25%;
}


/* Footer */

#footer {
	width:100%;
	background: #086A87;
	height: 50px;
	margin:0 auto;
	padding-top: 0px;
	clear:both;
}

#footer p {
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin: 0;
	padding-top: 12px;
}

#footer a {
	background: #BB096B;
	padding: 2px 7px;
	color: #FFFFFF;
}